@model CustomBasicAuthWebApp.Models.User

@using (Html.BeginForm("Login", "Home", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>
            <div>
                @Html.LabelFor(model => model.Username)
            </div>
            <div>
                @Html.EditorFor(model => model.Username)
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <br>
        <div>
            <div>
                @Html.LabelFor(model => model.Password)
            </div>
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <br>
        <div>
            <input type="submit" value="Login" />
        </div>

    </div>
}